<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GUI4_HV_S15567/src/zadanie2/ReverseTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="zadanie2.ReverseTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GUI4_HV_S15567"/>
</launchConfiguration>
